<nav>

    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a>

    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
    
    <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact Us</a>
    
    <a routerLink="/suppliers" routerLinkActive="active">Suppliers</a> <!--removed the exact so that-->
</nav>
